.display--home-group {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.display--home__title {
  color: #F5F5F5;
  font-family: "Pacifico", Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .display--home__title {
    font-size: 4em;
  }
}